/* title */

.title-box-new {
    margin: 5vw 5vw 2vw 5vw;
    position: relative;
}

.title-big {
    margin: 5vw 35vw 5vw 35vw;
    width: 30vw;
    height: 10vw;
}

.title-big h1 {
    font-size: 6vw !important;
    line-height: 14vw;
}

.title-big>.title-box-title {
    border-left-style: none !important;
    border-bottom-style: solid;
    border-color: rgb(255, 55, 68);
    border-bottom-width: 0.2vw;
}

.title-1 {
    width: 16vw;
    height: 5vw;
}
.title-2{
    width: 18vw;
    height: 5vw;
}
.title-3{
    width: 27vw;
    height: 5vw;
}
.title-4{
    width: 16vw;
    height: 5vw;
}
.title-box-mask {
    position: absolute;
    /* width: 40px; */
    height: inherit;
    background-color: rgb(255, 55, 68);
}

.title-box-mask-left {
    left: 0;
}

.title-box-mask-right {
    right: 0;
}

.title-box-title {
    width: inherit;
    height: inherit;
    border-left-style: solid;
    border-color: rgb(255, 55, 68);
    border-left-width: 0.2vw;
    opacity: 0;
    display: flex;
    justify-content: center;
}

.title-box-title>h1 {
    vertical-align: middle;
    text-align: center;
    margin: 0;
    font-size: 3vw;
    color: rgb(25, 46, 67);
}

/* title end */

/* arrow start */
.arrow{
    opacity: 0;
}
.arrow_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_1>img {
    width:15vw;
}

.arrow_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_2>img {
    width: 8vw;
}

/* arrow end */

/* video */


.video-1 {
    width: 30vw;
}
.video-box{
    width: 100% !important;
}
/* video end */

/* content start */
.content-text p{
    color: rgb(25, 46, 67);
}
.content-1 p, .content-2 p, .content-3 p, .content-4 p {
    font-size: 1.1vw;
    color: rgb(25, 46, 67);
    text-align:justify;
}

/* content-1-2 */

.content-1-2 {
    display: flex;
    width: 80vw;
    margin: 10vw 10vw 2vw 10vw;
}

.content-1, .content-2 {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-1 {
    padding: 0 2.5vw 0 0;
}

.content-2 {
    padding: 0 0 0 2.5vw;
}

/* content-3 */

.content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 43vw;
    margin: 0vw 20vw;
}

/* content-4 */

.content-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 50vw;
    margin: 2vw 20vw;
}
.content-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 68vw;
    margin: 2vw 20vw;
}
.content-5-h4{
    align-self:flex-start;
    color: rgb(25, 46, 67);
    text-align:justify;
    font-size: 1.5vw;
}
.content-mask{
    
    
    flex-direction: column;
    position: absolute;
}
.content-mask-0{
    
    width: 100%;
    height: 50%;
    background-color: rgb(25, 46, 67);
    
    left: 0;
    float: left;
}
.content-mask-1{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 55, 68);
    top:11vw;
    position: absolute;
    right:0;
    float:right;
}
.content-mask-2{
    
    width: 100%;
    height: 50%;
    background-color: rgb(25, 46, 67);
    
    left: 0;
    float: left;
}
.content-mask-3{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 55, 68);
    top:9vw;
    position: absolute;
    right:0;
    float:right;
}
.content-6{
    width: 80vw;
    margin: 2vw 10vw;
    height: 35vw;

}
.content-mask-6{
    width: 80vw;
    height: 22vw;
}
.content-6 p{
    font-size: 1.1vw;
    text-align:justify;

}
.content-7{
    width: 80vw;
    height: 54vw;
    margin: 2vw 10vw;
}
.content-mask-7{
    width: 80vw;
    height: 18vw;
}
.content-7 p{
    font-size: 1.1vw;
    text-align:justify;

}
/* content end */

/* table */

table, table tr th, table tr td {
    border: 2px solid #000000;
    color: rgb(25, 46, 67);
    font-family: "Myanmar Text";
    font-size: 1vw;
}
td{
    padding: 0.5em;
}
.tr-double{
    background-color: rgb(217, 217, 217);
}
table {
    width:65vw;
    height: 40vw;
    min-height: 25px;
    
    text-align: center;
    border-collapse: collapse;
}

/* table end */