/* title */
.title-box-new{
    /* margin: 5vw 5vw 2vw 5vw; */
    position: relative;
    width: 100%;
    
}

.title-big h1{
    font-size: 16rem !important;
    /* line-height:14vw; */
    
}
.title-big > .title-box-title{
    border-left-style: none !important;
    border-bottom-style: solid;
    border-color: rgb(255,55,68);
    border-bottom-width: 0.2vw;
    
}

.title-box-mask{
    position: absolute;
    
    height: 100%;
    
    background-color: rgb(255,55,68);
}
.title-box-mask-left{
    left: 0;
}
.title-box-mask-right{
    right: 0;
}
.title-box-title{
    /* width: 100%; */
    height: inherit;
    border-left-style: solid;
    border-color: rgb(255,55,68);
    border-left-width: 0.25rem;
    opacity: 0;
    display: flex;
    /* justify-content: center; */
    
    
}
.title-big h1{
    flex-grow: 1;
    vertical-align: middle; 
    text-align:center;
    margin: 0;
    font-size: 8rem;
    color: rgb(25,46,67);
}
.title-box-title > h1{
    /* flex-grow: 1; */
    vertical-align: middle; 
    /* text-align:center; */
    padding:0 4rem;
    margin: 0;
    font-size: 8rem;
    color: rgb(25,46,67);
}
/* title end */
/* reference */

/* reference end */
/* content start */
.content p{
    font-size: 4rem;
    text-align: justify;
    color: rgb(25,46,67);
}

/* content end */